body{
    margin: 0;
    padding: 0;
}
.container{
    border:none;
    margin: 0;
    display: flex;
    padding: 0;
    flex-direction: column;
    
}
.imageholder{
    background-image: url("assets/landscapepic.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.imageholder h1{
    display: flex;
    justify-content: center;
    margin-top: 26%;
    font-family:cursive;
    font-size: 2.5em;
    font-weight: 500;
    color: #faf8f8;
}
#south{
    font-style: italic;
    margin-top: 0%;
    font-size: 98px;
    font-weight: 600;
}
.content{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content p{
    padding-left: 17%;
    padding-right: 17%;
    font-size: 19px;
    color: #4e4c4c;
    text-align: justify;
}
.content h3{
    padding-left: 17%;
    padding-right: 17%;
    color: rgb(48, 215, 48);
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.content h2{
    padding-left: 19%;
    padding-right: 17%;
    color: #535151;
    font-weight: 600;
}
.content img{
    padding-left: 28%;
    padding-right: 17%;
    width: 700px;
    height: auto;
}
.authorP{
    margin-left: 17%;
    border-top: 1px solid black;
    width: 32%;
}
::-webkit-scrollbar{
    display: none;
}