.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1001; 
    top: 0;
    left: 0;
    background-color: white; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
    box-shadow: 0 2px 20px rgba(0,0,0,0.2);
  }
  
 
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidebar a:hover {
    color: #FDBE34;
  }
  
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
  }
  
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    margin-left: -20px;
    border: none;
    border-radius: 50%;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  
  #main {
    transition: margin-left .5s; 
    padding: 20px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 20px;}
    .closebtn{font-size: 20px;}
  }
  